*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Libre Franklin', sans-serif !important ;
}
.contenedor-general-header{
    background-image: url(../assets/home/fondoHeaderHome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.contenedor-logo-rgl img {
    width: 25rem;
}
#navb{
    width: 100%;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    transition: .5s;
    padding-top: 3rem;
    border-bottom: 0.1rem solid white;
}
#navbb{
    width: 100%;
    position: fixed;
    z-index: 20;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: .5s;
    padding-top: 3rem;
    border-bottom: 0.1rem solid white;
}
.contenedor-navbar{
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-bottom:1.5rem;
}
.ul-navbar{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:center;
    margin-bottom: 0;
}
.nav-item{
    margin-right: 7rem;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 90%;
}
.nav-item :hover{
    color: #E0FF5F;
}
.secciones-nav{
    text-decoration: none;
    color: white;
}
.contenedor-gif-logo-rgl img{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100vh;
    z-index: 7;
}
.contenedor-titulo-saludo-header{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    width: 100%;
    padding: 5rem 10rem;
    z-index: 7;
}
.contenedor-titulo-saludo-header img {
    width: 45vw;
}
.contenedor-seccion-proyectos-home{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color:#3A3737;
}
.contenedor-proyecto1-home{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 12rem 0rem;
    border-bottom: 1px solid white;
    padding-bottom: 10rem;
}
.contenedor-proyecto1-info{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 35%;
    padding-right: 7rem;
}
.contenedor-proyecto2-info{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 35%;
    padding-left: 7rem;
}
.proyecto1-titulo{
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 110%;
    color: #fff;
}
.proyecto1-subtitulo{
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 110%;
    color:#E0FF5F;
    margin-top: 4rem;
}
.proyecto1-info{
    margin-top:13rem;
    margin-bottom: 0rem;
}
.proyecto1-info1{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: white;
    margin-bottom: 0rem;
}
.proyecto1info{
    border-top: 1px solid white;
}
.proyecto1-info2{
    display: flex;
    justify-content:space-between;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 14px;
}
.proyecto1-info3{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: white;
    margin-bottom: 0rem;
}
.contenedor-redireccionamiento-proyectos{
    margin-top: 7rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
}
.redireccionamiento-proyectos{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #E0FF5F;
}
.redireccionamiento-proyectos:hover{ 
    color:white;
}
.icono-redireccionamiento{
    cursor: pointer;
}
.contenedor-proyecto1-galeria{
    width: 65%;
    height: 60vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.imagenes-carrucel{
    width: 100%;
    height: 60vh;
}
.contenedor-proyecto2-home{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 12rem 0rem;
    border-bottom: 1px solid white;
    padding-bottom: 10rem;
}
.contenedor-miniatura-proyectos-home{
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.miniatura-proyecto{
    margin-right: 2rem;
}
.contenedor-proyectominiatura-titulo {
    display: flex;
    align-items:start;
    justify-content:space-between;
    margin-top: 4rem;
}
.proyecto-miniatura-titulo{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color:white;
}
.proyecto-miniatura-subtitulo{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 110%;
    color: #E0FF5F;
}
.proyecto1-info-miniatura{
    margin-top: 5rem;
}
.proyecto1-miniatura-info1{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    color: white;
    border-bottom: 1px solid white;
    margin-bottom:0;
}
.proyecto1-info2-miniatura{
    display: flex;
    border-bottom: 1px solid white;
    justify-content:space-between;
}
.redireccion-todos-los-proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24rem;
}
.redireccion-todos-los-proyectos a:hover{
    color: white;
}
.redireccion-todos-los-proyectos img{
    margin-bottom: 8rem;
    cursor: pointer;
}
.redireccion-todos-los-proyectos a{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #E0FF5F;
}
.mitad-icono{
    margin-bottom: 27rem;
}
.contenedor-seccion-nosotros-home{
    width: 100%;
    background-image: url('../assets/home/fondoNosotrosHome.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}
.contenedor-imagen-nosotros-home{
    width: 50%;
}
.contenedor-imagen-nosotros-home img{
    width: 100%;
}
.contenedor-info-nosotros-home{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    width: 70%;
    padding-left: 10rem;
}
.contenedor-info-nosotros-home-dos{
    width: 100%;
}
.titulo-nosotros-home{
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 125%;
    color: white;
    width: 80%;
}
.texto-resaltado-nosotros-home{
    color: #E0FF5F;
}
.contenedor-textos-nosotros-home{
    margin-top:7.5rem;
    width: 60%;
    margin-left:11rem;
}
.parrafo-nosotros-home{
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 130%;
    color: white;
}
.nombres-arquitectos-nosotros-home{
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-top:7rem;
    margin-bottom:15rem;
}
.nombres-arquitect{
    display: flex;
    align-items:center;
}
.nombre-nosotros-home{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 0;
    margin-left: 0.5rem;
}
.redireccionamiento-nosotros-home{
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 22px;
    color: #E0FF5F;
}
.redireccionamiento-nosotros-home:hover{
    color: white;
}
.icono-nosotros-home{
    width: 1.3rem;
}
.contenedor-contacto-home{
    width: 100%;
    background-color:#3A3737;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8rem;
}
.contenedor-titulo-email-contacto{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titulo-contacto-home{
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    color: #E0FF5F;
}
.email-contacto-home{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    color: #fff;
    margin-top:30rem;
}
.contenedor-formulario-contacto-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;
}
.input-formulario-contacto-home{
    width: 90%;
    border: none;
    background-color: #3A3737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
    border-bottom: 1px solid #C2BDB8;
    margin-bottom: 2rem;
    outline: none;
}
.input-formulario-contacto-textarea{
    width: 90%;
    height:7rem;
    border: none;
    background-color: #3A3737;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: white;
    border-bottom: 1px solid #C2BDB8;
    margin-top: 15rem;
    outline: none;
}
.sumbit-formulario-contacto-home{
    margin-top: 5rem;
    display: flex;
    align-items:center;
}
.boton-enviar-formulario-home{
    border: none;
    background-color: #3A3737;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #E0FF5F;
    text-decoration: underline;
    margin-right: 7rem;
}
footer{
    width: 100%;
    background-color: #75726F;
    padding: 6rem 2rem;
    display: flex;
    align-items:center;
    justify-content: space-around
}
.logo-footer {
    width: 25rem;
}
.contenedor-info-footer{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.contenedor-info1-footer{
    width: 30%;
}
.info-footer{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: white;
    padding-bottom: 1rem;
}
.iconos-footer{
    text-decoration: underline;
}
.contenedor-iconos-footer{
    display: flex;
}
.icono-wp{
    position:fixed;
    z-index: 1000;
    margin-top: 90vh;
    margin-left: 88vw;
    width: 5rem;
}
.icono-wp img{
    width: 7rem;
}

.carousel {
      overflow:hidden;
    }
    .carousel-inner, .carousel, .carousel-item, .carousel-container {
      background-position:center center;

      width: 95%;

      background-size: cover;

    }

    .active {
        background:#E0FF5F !important;
    }
    .carousel-item-prev:not(.carousel-item-end), .active.carousel-item-start {

      transform: translate3d(0,-100%,0);

      -webkit-transform: translate3d(0,-100%,0);

      -moz-transform: translate3d(0,-100%,0);

      -ms-transform: translate3d(0,-100%,0);

      -o-transform: translate3d(0,-100%,0);

    }

     

    .carousel-item-next:not(.carousel-item-start), .active.carousel-item-end {

      transform: translate3d(0,100%,0);

      -webkit-transform: translate3d(0,100%,0);

      -ms-transform: translate3d(0,100%,0);
      -moz-transform: translate3d(0,100%,0);
      -o-transform: translate3d(0,100%,0);
    }

    .carousel-indicators {

      top:0;

      margin:auto;

      height:20px;

      right:10px;

      left:auto;

      display:block;

    }

    .carousel-indicators [data-bs-target] {

      background:none;

      border:2px solid white;

      border-radius:12px;

      width:12px;

      height:12px;

      margin-bottom:5px;
      margin-left: 10rem;
      display: flex;

    }

    .carousel-indicators li.active {
      background:#E0FF5F;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
      width:4rem;
      height:4rem;
      position:fixed;
      top:95%;
      left:50%;
      transform: translate(-50%,-50%) rotate(90deg);
      z-index:-1;
      display: none;
    }
    .carousel-control-prev-icon {
      top:5%;
    }
    .unclickable {
      pointer-events:none;
    }
    .clickable {
      pointer-events:all;
    }
    