body{
    background-color: #C2BDB8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.header-proyectos{
    width: 100%;
    background:none;
}
#navb{
    position: relative;
}
.contenedor-general-proyectos{
    display: flex;
    width: 90%;
    margin: 3rem 10rem;
    margin-top: 8rem;
    overflow-x: auto;
}
.contenedor-proyecto{
    margin-right: 3rem;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
.proyecto2{
    margin-bottom: 1rem;
}
.img-principal-proyecto{
    width: 35vw;
}
.contenedor-informacion-proyecto{
    margin-top: 2rem;
    display: flex;
    justify-content:space-between;
    width: 100%;
}
.contenedor-titulo-proyecto{
    width: 35%;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}
.proyecto3{
    width: 50%;
}
.nombre-proyecto{
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 90%;
    color:#3A3737;
}
.santaClara{
    font-size: 24px;
}
.lote-proyecto{
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 90%;
    color: #E0FF5F;
    margin-top:2rem;
}
.contenedor-detalles-proyecto{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.icono-flecha-proyectos{
    width: 3.5rem;
    margin-top:3rem;
}
.metros-cubiertos-proyecto{
    border-top: 1px solid #3A3737;
    border-bottom: 1px solid #3A3737;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 14.7179px;
    line-height: 22px;
    padding-right: 10rem;
}
.contenedor-metros-semicubiertos{
    border-bottom: 1px solid #3A3737;
    display: flex;
    justify-content: space-between;
}
.metros-semicubiertos{
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 14.7179px;
    line-height: 22px;
}
.año-proyectos{
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 14.7179px;
    line-height: 22px;
}

footer{
    margin-top: 6rem;
}
.icono-wp{
    margin-top: 88vh;
    margin-left: 92vw;
}
.contenedor-general-proyectos::-webkit-scrollbar{
    width: 0;
}